$font-family: Arial, sans-serif;
$background-color: #f0f0f0;
$table-background-color: #009879;
$table-font-color: #ffffff;
$border-color: #dddddd;
$highlight-color: #009879;
$shadow-color: rgba(0, 0, 0, 0.15);
$padding: 12px 15px;
$font-size: 36px; // 放大一倍的字体大小
$min-width: 500px; // 放大一倍的最小宽度

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background-color;
    font-family: $font-family;
    padding: 40px;

    .styledTable {
        border-collapse: collapse;
        margin: 50px 0;
        font-size: $font-size;
        min-width: $min-width;
        box-shadow: 0 0 40px $shadow-color;

        user-select: none;

        > header {
            padding: 20px;
            background-color: $table-background-color;
            text-align: center;
            color: white;
        }
        > div {
            display: flex;
            align-items: center;
            flex-direction: column;

            > div {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                border: 1px solid black;
                border-bottom: 0;

                box-sizing: border-box;

                > span {
                    width: 50%;
                    text-align: center;
                    border-right: 1px solid black;
                    padding: 20px 0;
                    background-color: rgba(0, 152, 121, 0.3);
                }

                > div {
                    width: 50%;
                    padding: 20px 0;
                }
            }
            > div:last-child {
                border-bottom: 1px solid black;
            }
        }
    }
}

.return {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: $highlight-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
