$font-family: Arial, sans-serif;
$background-color: #f0f0f0;
$table-background-color: #009879;
$table-font-color: #ffffff;
$border-color: #dddddd;
$highlight-color: #009879;
$shadow-color: rgba(0, 0, 0, 0.15);
$padding: 12px 15px;
$font-size: 36px; // 放大一倍的字体大小
$min-width: 500px; // 放大一倍的最小宽度
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background-color;
    font-family: $font-family;
    padding: 40px; // 放大一倍的内边距
  }
  
  .styledTable {
    border-collapse: collapse;
    margin: 50px 0; // 放大一倍的外边距
    font-size: $font-size;
    min-width: $min-width;
    box-shadow: 0 0 40px $shadow-color; // 放大一倍的阴影
  }
  
  .styledTable thead tr {
    background-color: $table-background-color;
    color: $table-font-color;
    text-align: center;
  }
  
  .styledTable th{
    padding: $padding;
    text-align: center;
  }
  .styledTable td {
    padding: $padding;
    border: solid 1px black;
    text-align: center  ;
  }
  
  .styledTable tbody tr {
    border-bottom: 1px solid $border-color;
  }
  .return{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: $highlight-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }