.changeButton {
    text-align: center;
    cursor: pointer;
    font-weight: 100;
}

.changeButton:hover:not(.selected) {
    background-color: rgba(29, 128, 226, 0.3);
}

.selected {
    background-color: #1d80e2;
    color: white;
}
